# 4장 변수와 자료형

# 4.1 변수

In [1]:
12340 * 1/2

6170.0

In [2]:
12340 * 1/4

3085.0

In [3]:
12340 * 1/5

2468.0

## 데이터를 변수에 할당

### 변수에 자료를 할당하고, 변수를 불러 값을 출력합니다. (반대는 상수 = 변하지 않습니다.)

### 규칙
1. 변수명은 문자, 숫자, 밑줄 기호를 이용하여 만들 수 있다.
ex) a, book, my_student2, MyDog, _my_number
2. 숫자로 시작할 수 없다. 5징어(x)
3. 대소문자를 구별함 Money != money
4. 공백은 불가함 world cup (x)
5. 밑줄 이외의 기호는 불가 (%, & 등)
6. 예약어는 사용 불가 (True, False, and, or 등) (이미 존재하는 함수입니다)

In [22]:
abc = 12340
print(abc)

12340

In [23]:
abc

12340

In [24]:
print(abc * 1/2)
print(abc * 1/4)
print(abc * 1/5)

6170.0
3085.0
2468.0

# 4.2 문자열

### 문자열 만들기

In [37]:
a = 2
b = 1
ab = a or b

In [38]:
print(ab)

2

### 큰 따옴표, 작은 따옴표 둘다 허용됩니다.

In [39]:
print("String Test")

String Test

In [40]:
print('String Test')

String Test

In [2]:
string1 = "String test 1"
string2 = "String test 2"
print(string1)
print(string2)

String test 1
String test 2

#### 타입은 str

In [3]:
type(string1)

str

#### 큰따옴표와 작은따옴표 출력하기?

In [10]:
string3 = 'This is a "double" quotation test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [12]:
30 // 2

15

### 삼중따옴표 활용

In [26]:
long_string1 = '''[삼중 작은 따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')를 입력할 수 있습니다.
'''

long_string2 = """[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은 따옴표(')도 입력할 수 있습니다.
"""

print(long_string1)
print(long_string2)

[삼중 작은 따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')를 입력할 수 있습니다.

[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은 따옴표(')도 입력할 수 있습니다.

##### ▲문자를 길게 입력할 수 있습니다.

# 문자열 다루기

#### 문자열 더하기, 곱셈

In [36]:
a = 'Enjoy '
b = "python!"
c = a+b
print(c)

Enjoy python!

In [29]:
print(a*3)

Enjoy Enjoy Enjoy

In [37]:
print(a)

Enjoy

# 4.3 리스트

## 리스트 만들기

### 데이터를 한꺼번에 처리하기 위해 묶어놓으면 편하다 
기호 : []

In [75]:
# a 학생의 국어, 영어, 수학, 과학 점수가 각각 90, 95, 85, 80, 75이다.
studenta = [90, 95, 85, 80, 75]
studenta

[90, 95, 85, 80, 75]

##### 리스트의 타입 및 출력

In [77]:
type(studenta)

list

In [78]:
studenta

[90, 95, 85, 80, 75]

In [80]:
studenta[0] #1번째 항목 출력 (컴퓨터는 0과 1로 시작했기 때문)

90

In [82]:
studenta[1] #2번째 항목 출력

95

In [83]:
studenta[2] #3번째 항목 출력

85

In [88]:
studenta[-1] #마지막 항목 출력 (음수는 -1부터 가장 마지막 항목을 시작으로 한개씩 오기 때문)

75

In [89]:
studenta[-2]

80

### 새로운 데이터를 할당

In [97]:
studenta[1] = 100 # 2번째 항목에 새로운 데이터를 할당합니다.
studenta[1]

100

### 데이터 문자열

In [21]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends

['James', 'Robert', 'Lisa', 'Mary']

In [106]:
myFriends[0] # 1번째 문자열을 출력

'James'

In [107]:
myFriends[3] # 4번째 문자열을 출력

'Mary'

In [108]:
myFriends[-1] # 마지막 문자열을 출력

'Mary'

In [27]:
myFriends[0:3:2]

['James', 'Lisa']

### 다른 타입끼리도 생성 가능

In [51]:
mixedList = [0,2,3.14,'python','program',True,myFriends]

*문자, 숫자(정수,실수), 논리값, 다른 리스트까지 가능합니다

In [52]:
mixedList

[0, 2, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

## 리스트 다루기

#### 리스트 더하기와 곱하기

In [114]:
list_con1 = [1,2,3,4]
list_con2  = [5,6,7,8]
list_con = list_con1 + list_con2 #a리스트와 b리스트를 연결하겠습니다.

list_con

[1, 2, 3, 4, 5, 6, 7, 8]

In [113]:
list_con1 = [1,2,3,4]
list_con = list_con1 * 3 #리스트를 n회 반복하겠습니다.

print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

# 리스트 중 일부 항목 가져오기

리스트 [i_start : i_end]

리스트 [i_start : i_end : i_step]

##각각 인덱스의 시작, 끝, 증가 범위를 지정하면 i_start 부터 i_end "-1 까지" 리스트 반환.
생략하면 0, 끝, 1로 간주한다.

### [시작점 : 도착(-1)점 : 점프하는 단위]

In [4]:
list_data = [0,1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9]

print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[2::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[2, 4, 6, 8]

In [45]:
list_data[1::2]

[1, 3, 5, 7, 9]

In [49]:
list_data[1:6:2]

[1, 3, 5]

리스트에서 항목 삭제하기

In [70]:
print(list_data)
del list_data[6]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
print(list_data)

[0, 1, 2, 3, 4, 5, 7, 8, 9]

### 리스트에서 항목의 존재 여부 확인하기

#### Bool로 반환함  - 값이 포함되어있는가

In [79]:
list_data1 = [1,2,3,4,100]
print(5 in list_data1)
print(100 in list_data1)
print(1 in list_data1)
print(0 in list_data1)

False
True
True
False

### 리스트 메서드 활용하기

#### 자료형 , 메서드이름() 변수형. 메서드이름()

In [83]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thomas') #리스트에서 항목 하나를 마지막에 추가하겠습니다. append ; <미,영> (글에)덧붙이다, 첨부하다
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [87]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.insert(1,'Paul') #리스트에서 'n번째' 항목에 삽입합니다. insert ; <미,영> (다른 것 속에, 둘 사이에)끼우다, 넣다
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

In [5]:
list_data.insert(6,6)

In [6]:
list_data

[0, 1, 2, 3, 4, 5, 6, 6, 7, 8, 9]

In [10]:
myFriends = ['James','Robert','Lisa','Mary']
print(myFriends)
myFriends.extend(['Laura','Betty']) # 항목 여러개를 마지막에 추가합니다. extend ; <미,영> 더 길게(크게,넓게) 만든다
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

In [9]:
myFriends = ['James','Robert','Lisa','Mary']
print(myFriends)
myFriends.remove('James') # 첫 번째로 일치하는 항목을 리스트에서 제외하겠습니다. remove ; <미,영> (어떤 곳에서) 치우다[내보내다]
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['Robert', 'Lisa', 'Mary']