# 7장 함수

## 7.1 함수 정의와 호출

### 함수의 기본 구조 

def 함수명 ([인자1, 인자2, ....인자n]):

     <코드 블록>
     
     [return <반환 값>]

## 1) 인자도 없고, 반환 값도 없는 함수

In [105]:
def 함수():
    print("My First function")
    print("This is function dammmmmn cool")

In [106]:
함수()

My First function
This is function dammmmmn cool

## 2) 인자는 있으나 반환 값이 없는 함수

In [ ]:
def 내_친구(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [ ]:
내_친구("철수")
내_친구("영미")

In [ ]:
def 내_친구_정보(name, scool_ID, phoneNumber):
    print("-----------------------")
    print("- 학생이름 : ", name)
    print("- 학급번호 : ", scool_ID)
    print("- 전화번호 : ", phoneNumber)

In [ ]:
내_친구_정보("현아","01","01-234-5678")
내_친구_정보("진수","02",'21-435-3465')

In [1]:
def 회원_정보를_입력해주세요(name):
    print("▼▼▼▼▼ 회원님의 새로운 계정을 생성합니다 ▼▼▼▼▼")
    name = input("이름을 입력해주세요 ")
    print("이제 당신의 이름은 {} 입니다.".format(name))
    ID = input("아이디를 입력해주세요 ")
    print("이제 여러분의 아이디는 ' {} ' 입니다.".format(ID))
    Password = input("비밀번호를 입력해주세요 ")
    print("이제 여러분의 비밀번호는 ' {} ' 입니다.".format(Password))
    print("\n     ◈◈ 저희 게임에 가입하신것을 환영합니다! ◈◈\n    \n    ▶▶▶▶▶▶이용해주셔서 감사합니다!◀◀◀◀◀◀    ")

In [2]:
회원_정보를_입력해주세요("a")

▼▼▼▼▼ 회원님의 새로운 계정을 생성합니다 ▼▼▼▼▼
이름을 입력해주세요 ad
이제 당신의 이름은 ad 입니다.
아이디를 입력해주세요 ii
이제 여러분의 아이디는 ' ii ' 입니다.
비밀번호를 입력해주세요 oo
이제 여러분의 비밀번호는 ' oo ' 입니다.

     ◈◈ 저희 게임에 가입하신것을 환영합니다! ◈◈

    ▶▶▶▶▶▶이용해주셔서 감사합니다!◀◀◀◀◀◀

#### 함수를 수정하면 모든 코드에 적용

In [400]:
def 회원_정보를_입력해주세요(name, ID, phoneNumber):
    print("****************")
    print("* name : ",name)
    print("* ID : ",ID)
    print("* phoneNumber : ",phoneNumber)

In [401]:
회원_정보를_입력해주세요("ㅇㅇㅇ","1","2")
print("****************")

****************
* name :  ㅇㅇㅇ
* ID :  1
* phoneNumber :  2
****************

# 3) 인자도 있고 반환 값도 있는 함수

In [103]:
def my_calc(x,y):
    p = x*y+x*y
    return p

In [104]:
my_calc(1,4)

8

리스트를 인자로 갖는 함수

In [402]:
def my_student_info_list(info):
    print("♠♠♠♠♠♠♠♠♠♠♠♠")
    print("* 학생이름 : ",info[0])
    print("* 학급번호 : ",info[1])
    print("* 전화번호 : ",info[2])
    print("★★★★★★★★★★★★★")

인자를 리스트로 입력해서 호출한다.

In [403]:
학생1_info = ["브루스배너","11","010-2121-1111"]
my_student_info_list(학생1_info)

♠♠♠♠♠♠♠♠♠♠♠♠
* 학생이름 :  브루스배너
* 학급번호 :  11
* 전화번호 :  010-2121-1111
★★★★★★★★★★★★★

In [390]:
def 내_학생_정보목록(정보, 정보1, 정보2, 정보3):
    print("**************************")
    print("♬ 학생이름 : ",정보[0])
    print("♩ 학년 : ",정보[1])
    print("♪ 전화번호 : ",정보[2])
    print("**************************")
    print("♬ 학생이름 : ",정보1[0])
    print("♩ 학년 : ",정보1[1])
    print("♪ 전화번호 : ",정보1[2])
    print("**************************")
    print("♬ 학생이름 : ",정보2[0])
    print("♩ 학년 : ",정보2[1])
    print("♪ 전화번호 : ",정보2[2])    
    print("**************************")

In [396]:
학생1 = ["권지태","1","010-3333-4444"]
학생2 = ["김기명","3","010-3333-5555"]
학생3 = ["서성은","3","010-2222-5555"]
학생4 = ["이건우","2","010-3332-5555"]
내_학생_정보목록(학생1,학생2,학생3,학생4)
print("**************************")

**************************
♬ 학생이름 :  권지태
♩ 학년 :  1
♪ 전화번호 :  010-3333-4444
**************************
♬ 학생이름 :  김기명
♩ 학년 :  3
♪ 전화번호 :  010-3333-5555
**************************
♬ 학생이름 :  서성은
♩ 학년 :  3
♪ 전화번호 :  010-2222-5555
**************************
**************************

# 7.2 변수의 유효 범위

### 전역 변수와 지역 변수의 차이

함수 안에서 정의한 변수는 함수 안에서만 사용할 수 있다.

In [169]:
a = 5   # 전역 변수

def func1():
    a = 1 # 지역 변수. func1()에서만 사용
    print("[func1] 지역 변수 a=",a)

def func2():
    a = 2 # 지역 변수. func2()에서만 사용
    print("[func2] 지역 변수 a=",a)

def func3():
    print("[func3] 전역 변수 a=",a) 
    
def func4():
    global a # 함수 내에서 전역 변수 변경을 위해 선언합니다
    a = 4    # 전역 변수의 값 변경
    print("[func4] 전역 변수 a=",a)

In [170]:
func1() # 함수 func1() 호출
func2() # 함수 func2() 호출
print("전역 변수 a=",a) #전역 변수 출력

[func1] 지역 변수 a= 1
[func2] 지역 변수 a= 2
전역 변수 a= 5

전역 변수를 변경하고 싶을때는 선언하여 사용합니다.

In [171]:
func3() # 함수 func3() 호출
func4() # 함수 func4() 호출
func3() # 함수 func3() 다시 호출

[func3] 전역 변수 a= 5
[func4] 전역 변수 a= 4
[func3] 전역 변수 a= 4

# 7.3 람다(lambdda) 함수

한줄로 함수를 표현하는 람다함수의 기본 구조

(lambda <인자>:<인자 활용 수행 코드>(<인자>)

In [172]:
(lambda x : x**2) (4)

16

람다 함수를 변수에 할당한 후에 인자를 호출해서 사용

In [175]:
mySquare = lambda x : x**2
mySquare(10)

100

In [174]:
mySquare(5)

25

In [177]:
e = lambda e : e**5

In [204]:
y = lambda y : y + 3 - y*y

여러개의 인자를 받아 사용하는 것도 가능

In [214]:
mySimpleFunc = lambda x,y,z : 9*x + 7*y + 2*z
mySimpleFunc(1,2,3)

29

# 7.4 유용한 내장 함수

## 형 변환 함수   / 외장함수 : 내가 직접 만든 함수

#### 정수형으로 변환

소수점 이하는 버려짐 (반올림이 아니라 아예 소수점 이하를 삭제함)

In [226]:
[int(0.123), int(3.51456), int(-1.31234567), int(0.124124125111000)]

[0, 3, -1, 0]

#### 문자열을 정수형으로 변환

In [233]:
[int('1234'), int('1'),int('-9021')]

[1234, 1, -9021]

#### 실수형으로 변환

In [235]:
[float(0), float(123), float(-567.89)]

[0.0, 123.0, -567.89]

#### 문자열을 실수형으로 변환

In [236]:
[float('10'), float('0.123'), float('-456.89')]

[10.0, 0.123, -456.89]

#### 문자형으로 변환

In [237]:
[str(123), str(45678), str(-987)]

['123', '45678', '-987']

In [238]:
[str(0.123), str(345.567), str(-5.142)]

['0.123', '345.567', '-5.142']

#### 리스트, 튜플, 세트형으로 변환

In [280]:
list_data = ['abc', 1, 2, 2,3,'def']
tuple_data = ('abc',1,2,2,3,'def')
set_data = {'abc',1,2,2,3,'def'}    # 세트는 중복을 허용하지 않습니다. 순서가 정해지지 않습니다.

In [281]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

#### 리스트로 변환

In [282]:
print("리스트로 변환 : ", list(tuple_data), list(set_data))

리스트로 변환 :  ['abc', 1, 2, 2, 3, 'def'] [1, 2, 3, 'abc', 'def']

#### 튜플로 변환

In [289]:
print("리스트로 변환 : ",tuple(list_data), tuple(set_data))

리스트로 변환 :  ('abc', 1, 2, 2, 3, 'def') (1, 2, 3, 'abc', 'def')

#### 세트로 변환

In [290]:
print("세트로 변환 : ", set(list_data), set(tuple_data))

세트로 변환 :  {1, 2, 3, 'abc', 'def'} {1, 2, 3, 'abc', 'def'}

# Bool 함수

#### 숫자를 인자로 bool 함수 호출

In [291]:
bool(0) # 인자 : 숫자 0

False

In [292]:
bool(1) # 인자 : 양의 정수

True

In [293]:
bool(-10) # 인자 : 음의 정수

True

In [294]:
bool(5.12) # 인자 : 양의 실수

True

In [295]:
bool(-3.24) # 인자 : 음의 실수

True

문자열을 인자로 bool 함수 호출

In [296]:
bool('a') #인자 : 문자열 'a'

True

In [297]:
bool(' ') #인자 : 빈 문자열

True

In [299]:
bool('') #인자 : 문자열 없음

False

In [300]:
bool(None) #인자 : None : "아무겂도 없다(blank)"

False

In [302]:
bool('')

False

#### 리스트, 튜플, 세트를 인자로 bool 함수 호출

In [308]:
myFriends = []
bool(myFriends) # 인자 : 항목이 없는 빈 리스트

False

In [310]:
myFriends = ['James', 'Robert', 'Lisa','Mary']
bool(myFriends) # 인자 : 항목이 있는 리스트

True

In [312]:
myplace = ()
bool(myplace)  # 인자 : 항목이 없는 빈 튜플

False

In [313]:
myplace = ("dongdaemoon","namsan","DDP")
bool(myplace)  # 인자 : 항목이 있는 튜플

True

In [314]:
mysauce = {}
bool(mysauce)  # 인자 : 항목이 없는 빈 세트

False

In [318]:
mysauce = {"ketchap","mustard"}
bool(mysauce) # 인자 : 항목이 있는 세트

True

#### bool 함수의 활용

In [323]:
def print_name(name):
    if bool(name):
        print("입력된 이름 :",name)
    else :
        print("입력된 이름이 없습니다.")

In [324]:
print_name("James")

입력된 이름 : James

In [325]:
print_name("")

입력된 이름이 없습니다.

# 최솟값과 최댓값을 구하는 함수

In [334]:
myNum = [10, 5, 12, 0, 3, 5.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [337]:
myStr = 'zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

튜플과 세트에서 활용

In [338]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myStr)]

[0, 'z']

In [353]:
myNum = {'zbc', '하', '나', 'Bbc'}
[min(myNum), max(myNum)]    #대문자>소문자>알파벳>한글 순으로 순서가 결정됩니다

['Bbc', '하']

# 절대값과 전체 합을 구하는 함수

In [354]:
[abs(10), abs(-10)]

[10, 10]

In [355]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [356]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

In [363]:
sum([abs(10),abs(-10)])

20

#### 항목의 개수를 구하는 함수

In [364]:
len('ab cd') #문자열

5

In [365]:
len([1,2,3,4,5,6,7,8]) #리스트

8

In [366]:
len((1,2,3,4,5,6,7,8)) #튜플

8

In [368]:
len({1:'tom',2:'tim',3:'ho'}) #딕셔너리

3

## 내장 함수의 활용

사용하지 않은 경우

In [374]:
scores = [90, 80, 95, 85, 100]   # 과목별 시험 점수

score_sum = 0               # 총점 계산을 위한 초깃값 설정
subject_num = 0             # 과목수 계산을 위한 초깃값 설정(평균 구할때 사용)
for score in scores:
    score_sum = score_sum + score  # 과목별 점수 총합 만들기
    subject_num = subject_num + 1  # 과목수 계산
    
average = score_sum / subject_num  # 평균(총점 / 과목수) 구하기

print("총점:{0}, 평균:{1}".format(score_sum,average)) # 정답

총점:450, 평균:90.0

#### 사용했을 경우

In [380]:
scores = [90, 80, 95, 85, 100]

print("총점 : {0}, 평균:{1}".format(sum(scores),sum(scores)/len(scores)))

총점 : 450, 평균:90.0

In [382]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:80, 최고 점수:100

# 7.5 정리